*-blx.aux
*-blx.bib
*-converted-to.*
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.loa
*.lof
*.log
*.lot
*.nav
*.out
*.parquet
*.pdfsync
*.png
*.pre
*.run.xml
*.snm
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.thm
*.toc
*.vrb
*.xdv
*~
.*.lb
.DS_Store
.RData
.Rhistory
.ipynb_checkpoints/
__pycache__
acs-*.bib
